%sf-ArialMT{
    font-family: 'ArialMT', sans-serif;
    font-weight: 400;
}

%sf-Arial-ItalicMT{
    font-family: 'Arial-ItalicMT', sans-serif;
    font-weight: 400;
}

%sf-Georgia{
    font-family: 'Georgia', sans-serif;
    font-weight: 400;
}

%sf-TimesNewRoman{
    font-family: 'TimesNewRomanMTStd', sans-serif;
    font-weight: 400;
}

@mixin breakpoint($point) {
    @if $point == lg{
        @media(max-width:992px){@content;}
    }
    @if $point == md{
        @media(max-width:768px){@content;}
    }
    @if $point == sm{
        @media(max-width:576px){@content;}
    }
    @if $point == xs{
        @media(max-width:320px){@content;}
    }
}