%sf-ArialMT{
    font-family: 'ArialMT', sans-serif;
    font-weight: 400;
}

%sf-Arial-ItalicMT{
    font-family: 'Arial-ItalicMT', sans-serif;
    font-weight: 400;
}

%sf-Georgia{
    font-family: 'Georgia', sans-serif;
    font-weight: 400;
}

%sf-TimesNewRoman{
    font-family: 'TimesNewRomanMTStd', sans-serif;
    font-weight: 400;
}